body {
    margin: 0;
    padding: 0;
    background-color: rgb(187, 85, 255);
    text-align: center;
}

.title {
    margin: 20px 0px;
}
.title > h1 {
    font: 600 40pt Montserrat;
    color: white;
}

.conteiner {
    background-color: white;
    width: 700px;
    height: 550px;
    margin: auto;
    box-shadow: 3px 3px 10px 0px rgba(36, 1, 44, 0.295);
    padding: 15px;
}

#time_of_day {
    margin: 15px 0px;
    font: 400 30pt Montserrat;
    color: rgb(187, 85, 255);
}

#mode_of_day {
    margin: 15px 0px;
    font: 600 15pt Montserrat;
    color: rgb(187, 85, 255);
}

.photo {
    width: 550px;
    overflow: hidden;
    margin: 17px 0px;
}

.copy {
    font: normal 10pt Montserrat;
    color: white;
    margin: 20px 0px;
}