body {
    margin: 0;
    padding: 0;
    background-color: rgb(187, 85, 255);
    text-align: center;
}

.title {
    margin: 20px 0px;
}
.title > h1 {
    font: 600 40pt Montserrat;
    color: white;
}

.conteiner {
    background-color: white;
    width: 700px;
    min-height: 550px;
    margin: auto;
    box-shadow: 3px 3px 10px 0px rgba(36, 1, 44, 0.295);
    padding: 15px;
}

.conteinerElement {
    margin: 15px 0px;
}

.insertNumberText {
    font: normal 25pt Montserrat;
}

.numberInput {
    font: normal 25pt Montserrat;
    text-align: center;
    width: 400px;
    border-radius: 50px;
    border: 2px solid black;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.allTableResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tableResult {
    font: 400 17pt Montserrat;
}

.copy {
    font: normal 10pt Montserrat;
    color: white;
    margin: 20px 0px;
}