body{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 10000px;
}

/* Header */

header {
    width: 100%;
    background-color: #daac00;
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header {
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    width: 283px;
    height: 75px;
}

.nav_header {
    width: 718px;
    display: flex;
    justify-content: space-between;
}

.nav_header > a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28pt;
    transition: 0.3s;
}

.nav_header > a:hover {
    color: #00bec9;
}

.search_box {
    background-color: #fcc302;
    width: 365px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 21px 25px 0px rgba(0, 0, 0, 0.116);
}

.search_txt {
    width: 67%;
    height: 68px;
    border: none;
    outline: none;
    background: #fcc302;
    padding: 0;
    color: white;
    font-size: 22pt;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

::placeholder {
    color: white;
}

.search_button {
    width: 26%;
    height: 68px;
    background: #00bec9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 1 */

.section1 {
    margin: 0px;
    padding: 0px;
    background-color: #fcc302;
    width: 100%;
    height: 1039px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1_conteiner {
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1_text_conteiner {
    width: 815px;
}

.section1_text_conteiner > h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 62pt;
    line-height: 100px;
    color: white;
}

.section1_text_conteiner > p {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 27pt;
    margin: 30px 0px;
}

.section1_text_conteiner_buttons {
    margin-top: 50px;
}

.section1_text_conteiner_button1 {
    width: 243px;
    height: 92px;
    margin-right: 50px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    background: #00bec9;
    color: white;
    border: none;
}

.section1_text_conteiner_button2 {
    width: 243px;
    height: 92px;
    margin-right: 50px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    background: none;
    color: white;
    border: 4px solid white;
}

.section1_conteiner_image {
    filter: drop-shadow(-9px 12px 13px rgba(0, 0, 0, 0.377));
}

/* Section 2*/

.section2 {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 1057px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2_conteiner {
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2_text_conteiner {
    width: 815px;
}

.section2_text_conteiner > h3 {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 47pt;
    line-height: 80px;
    color: #313243;
}

.section2_text_conteiner > p {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #313243;
    font-size: 30pt;
    margin: 30px 0px;
}

.section2_text_conteiner_buttons {
    margin-top: 45px;
}

.section2_text_conteiner_button1 {
    width: 243px;
    height: 92px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    background: #fcc302;
    color: white;
    border: none;
}

.section2_conteiner_image {
    filter: drop-shadow(-9px 12px 13px rgba(0, 0, 0, 0.082));
}

/* Section 3 */

.section3 {
    margin: 0px;
    padding: 0px;
    background-color: #fcc302;
    width: 100%;
    height: 1357px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3_conteiner {
    width: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3_text_conteiner {
    text-align: center;
    margin-bottom: 100px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3_text_conteiner > h2 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 77pt;
}

.section3_text_conteiner > p {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30pt;
}

.section3_all_images_conteiners {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section3_image_conteiner {
    width: 456px;
}

.section3_image {
    outline: 8px solid white;
    outline-offset: -8px;
    border-radius: 50px;
}

.section3_image_conteiner_text {
    text-align: center;
    margin-top: 40px;
}

.section3_image_conteiner_text > h4 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 37pt;
}

.section3_image_conteiner_text > p {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25pt;
}

/* Section 4 */

.section4 {
    
}